<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   
   <servlet>
      <servlet-name>DeleteDishController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.DeleteDishController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>UpdateDishController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.UpdateDishController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareUpdateDishController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareUpdateDishController</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>UpdateManagerController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.UpdateManagerController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareUpdateManagerController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareUpdateManagerController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>ReadAdminRestoraniController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.ReadAdminRestoraniController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>UpdateRestoranController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.UpdateRestoranController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>ReadAdminMenagersController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.ReadAdminMenagersController</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>ReadAdminHomeController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.ReadAdminHomeController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareCreateManagerController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareCreateManagerController</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>CreateManagerController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.CreateManagerController</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>DeleteManagerController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.DeleteManagerController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>DeleteRestoranController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.DeleteRestoranController</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>CreateRestoranController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.CreateRestoranController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareCreateRestoranController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareCreateRestoranController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>LogoutController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.LogoutController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareUpdateController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareUpdateController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareCreateController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareCreateController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>CreateController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.CreateController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>UpdateController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.UpdateController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>LoginController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.LoginController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>ReadController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.ReadController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>DeleteController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.DeleteController</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>DeleteDishController</servlet-name>
      <url-pattern>/DeleteDishController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>UpdateDishController</servlet-name>
      <url-pattern>/UpdateDishController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareUpdateDishController</servlet-name>
      <url-pattern>/PrepareUpdateDishController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>UpdateManagerController</servlet-name>
      <url-pattern>/UpdateManagerController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareUpdateManagerController</servlet-name>
      <url-pattern>/PrepareUpdateManagerController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>ReadAdminRestoraniController</servlet-name>
      <url-pattern>/ReadAdminRestoraniController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>UpdateRestoranController</servlet-name>
      <url-pattern>/UpdateRestoranController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>ReadAdminMenagersController</servlet-name>
      <url-pattern>/ReadAdminMenagersController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>ReadAdminHomeController</servlet-name>
      <url-pattern>/ReadAdminHomeController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareCreateManagerController</servlet-name>
      <url-pattern>/PrepareCreateManagerController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>CreateManagerController</servlet-name>
      <url-pattern>/CreateManagerController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>DeleteManagerController</servlet-name>
      <url-pattern>/DeleteManagerController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>DeleteRestoranController</servlet-name>
      <url-pattern>/DeleteRestoranController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>CreateRestoranController</servlet-name>
      <url-pattern>/CreateRestoranController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareCreateRestoranController</servlet-name>
      <url-pattern>/PrepareCreateRestoranController</url-pattern>
   </servlet-mapping>
   

   <servlet-mapping>
      <servlet-name>LogoutController</servlet-name>
      <url-pattern>/LogoutController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareUpdateController</servlet-name>
      <url-pattern>/PrepareUpdateController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareCreateController</servlet-name>
      <url-pattern>/PrepareCreateController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>CreateController</servlet-name>
      <url-pattern>/CreateController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>UpdateController</servlet-name>
      <url-pattern>/UpdateController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>LoginController</servlet-name>
      <url-pattern>/LoginController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>ReadController</servlet-name>
      <url-pattern>/ReadController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>DeleteController</servlet-name>
      <url-pattern>/DeleteController</url-pattern>
   </servlet-mapping>
   
   <welcome-file-list>
   		<welcome-file>/login.jsp</welcome-file>
   </welcome-file-list>
   <error-page>
		<exception-type>
			java.lang.Throwable
		</exception-type>
		<location>/error.jsp</location>
   </error-page>
   <error-page>
   		<error-code>404</error-code>
   		<location>/404.jsp</location>
   </error-page> 

</web-app>
